@model WebAPITandemMixer.Models.Phase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompoundName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompoundName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phase1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phase1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhaseTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhaseTypeNavigation.PhaseType1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PhaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
